//Base Color
$black: #000;
$baseFontColor: $black;
$primaryBGColor: #fff;
$BGColor: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 30%);

//Element Color
$colorElement: #78b660;

//Typography
$primaryFont: "Helvetica Thin", Helvetica, sans-serif;
